*{
    background: #000000;
    color: #ffffff;
}

figure{
    text-align: center;
}

h1{
    text-align: center;
    background: #ffff00;
    color: #000000;
    margin: 0 auto;
    padding: 10px;
}

h2{
    text-align: center;
}

table{
    text-align: center;
    margin: 0 auto;
}

th{
    background: yellow;
    color: black;
    border-bottom: solid 5px yellow;
    padding: 5px;
    
}

footer{
    text-align: center;
}



